
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="slider-area " style="margin-bottom:-6em;">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Hakkımızda</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Proje Açıklaması</h4>
                    <p>
                        Sitemiz mezatlara uygun görülen ürünlerin listelenmesini, yorumlanmasını ve halka açık tekliflerle satışlarının gerçekleşmesini sağlayan bir projedir.
                    </p>
                </div>
                <div class="about-details-cap mb-50">
                    <h4>Proje</h4>
                    <p>
                        Front-End : Html5 & CSS3 , JS, Bootstrap4 <br />
                        Back-End : Asp.net Framework MVC <br />
                        API : Asp.Net Web Service <br />
                        Database : MsSql (Entity Framework - Code First)<br />
                    </p>
                </div>
                <div class="about-details-cap mb-50">
                    <h4>Proje Hazırlayanlar</h4>
                    <p>Tunahan Aydınoğlu : 1511012078</p>
                    <p>Abdullah Furkan Titiz : 1611012033</p>
                    <p>Mehmet Ali Kırmızıtaş : 1611012030</p>
                </div>
            </div>
        </div>
    </div>
</div>
