
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminThisBuy</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <style>
        #cnt {
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="~/">Siteye Geç</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Admin/AdminHome/Index">Admin Anasayfa</a>
                <a class="nav-item nav-link" href="~/Admin/AdminUsers/Index">Üyeler</a>
                <a class="nav-item nav-link" href="~/Admin/AdminCategories/Index">Categoriler</a>
                <a class="nav-item nav-link" href="~/Admin/AdminProducts/Index">Ürünler</a>
                <a class="nav-item nav-link" href="~/Admin/AdminComments/Index">Yorumlar</a>
                <a class="nav-item nav-link" href="~/Admin/AdminContacts/Index">İletişim</a>
                <a class="nav-item nav-link" href="~/Admin/AdminPays/Index">Teklifler</a>
                <a class="nav-item nav-link" href="~/Admin/AdminPhotos/Index">Fotolar</a>
                <a class="nav-item nav-link" href="~/Admin/AdminRoles/Index">Roller</a>
                <a class="nav-item nav-link" href="~/Admin/AdminSales/Index">Satışlar</a>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
