
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Areas/Admin/Assets/contact.css" rel="stylesheet" />
<nav>
    <center><button type="button" id="call-products" class="btn btn-success"> Mesajları Getir </button></center>
</nav>

<div class="container">

    <table class="table table-dark">
        <thead>
        <th>ID</th>
        <th>Konu</th>
        <th>İsim</th>
        <th>Mesaj</th>
        <th>Email</th>
        <th>Durum</th>
        </thead>
        <tbody id="prod">
           
        </tbody>
    </table>
</div>
<script src="~/Areas/Admin/Assets/contact.js"></script>